:root {
  --color-s3: var(--color-success);
}

.s3_obstruction {
  --color-s3: var(--color-obstruction);
}

.euler_diagram {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 0.95rem
}

.eulersvg, .venn {
  max-height: 20rem;
  isolation: isolate;
}

.eulersvg > path, .venn > circle {
  mix-blend-mode: multiply;
}

.euler {
  stroke-width: 1;
}

.euler.c1 {
  stroke: var(--c1-half);
  fill: var(--c1-transparent);
}

.euler.c2 {
  stroke: var(--c2-half);
  fill: var(--c2-transparent);
}

.euler.clip {
  stroke: none;
  fill: white;
}

.euler.mask {
  stroke: black;
  fill: none;
}
/*
.s3 {
  color: var(--color-s3);
  fill: var(--color-s3);
} */

.s3_obstruction .s3 .symbol0, .s3_obstruction .s3 .symbol1, .s3_obstruction .s3 .symbol2, .s3_obstruction .s3 .symbol3, .s3_obstruction .s3 .symbol4 {
  background-color: var(--color-obstruction);
}

.euler_toggles, .the_sets {
  display: flex;
}

.euler_toggles > div, .the_sets > div {
  flex: 1;
}

.euler_toggles > div > button {
  margin: 0 0.3em 0.3em 0;
}
.the_sets {
  margin: 1rem 0;
}

.symbol_container {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.symbol_container > span {
  display: inline-block;
  background-size: 100% 100%;
  background-color: var(--color-text);
  height: 100%;
  width: 100%;
}

.symbol0, .symbol1, .symbol2, .symbol3, .symbol4 {

}

.symbol0 {
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='532.356' height='532.356' viewBox='0 0 399.267 399.267'%3E%3Cpath d='M385.348 324.308c23.562-42.859-3.492-95.367-23.266-133.67-9.77-18.883-18.94-36.703-17.64-45.406.652-4.261 2.25-7.578 4.972-10.12 5.86-5.505 7.813-13.91 5.031-21.43-2.781-7.458-9.414-12.313-17.344-12.669-23.207-1.125-55.766 6.512-85.305 45.641 19.004 8.465 34.395 20.543 45.88 36.23 26.698 36.465 25.987 82.758 20.718 115.14-5.27 32.56-26.875 60.203-56.652 76.898 46.055-6.101 106.61-19.773 123.61-50.617z'/%3E%3Cpath d='M93.738 341.598c-19.652 15.805-24.746 29.953-24.922 30.547-.652 1.778-.355 3.79.77 5.328 1.125 1.598 2.902 2.485 4.855 2.485h121.89c55.172 0 102.65-36.051 110.4-83.883 4.914-30.191 5.684-73.11-18.59-106.26-17.344-23.68-44.637-38.36-81.102-43.688-1.066-.117-2.191-.356-3.195-.594-9.945-2.191-17.64-11.188-19.062-22.438-.473-3.375-1.125-6.687-2.012-9.707-4.261-14.445-13.082-25.574-25.633-32.44 3.79-30.134-18.59-58.845-19.773-60.384a5.886 5.886 0 0 0-6.75-1.836c-2.425.887-3.964 3.317-3.789 5.86.176 3.671-3.02 8.82-6.75 14.859-5.625 9.117-12.727 20.66-14.266 36.289-5.683 1.421-11.188 3.375-16.457 5.98-15.746 7.578-23.562 22.613-30.488 35.875-1.539 3.078-3.078 5.98-4.676 8.703-3.55 6.215-8.644 10.832-11.309 13.023a12.977 12.977 0 0 0-4.734 10.062c0 3.551 1.422 6.926 3.965 9.352 2.547 2.484 6.098 3.789 9.648 3.61 6.75-.24 12.43.472 15.984 2.132 13.617 6.394 24.98 8.82 34.453 8.82 1.364 0 2.606-.117 3.906-.176-1.48 1.895-2.902 3.848-4.261 5.981-6.215 9.293-15.688 15.629-26.758 17.879l-21.902 4.5c-24.922 5.09-44.22 24.508-49.191 49.43-.414 1.836.176 3.79 1.422 5.21a6.093 6.093 0 0 0 4.379 1.895c.238 0 .472-.058.71-.058l26.875-3.375c1.657-.176 3.137-1.125 4.145-2.485 7.043-9.414 17.758-15.629 29.422-17.05l4.203-.532c6.867-.828 13.676 1.54 18.352 6.512 6.273 6.629 15.035 13.852 28.594 14.8a57.63 57.63 0 0 0-1.363 12.43c0 3.079.238 6.157.77 9.294 4.144 24.332 20.187 43.926 34.925 57.242-20.832-4.203-46.996-5.805-62.684 6.805zm.059-216.72a5.864 5.864 0 0 1-1.895 1.243c-.77.296-1.539.472-2.308.472-.356 0-.77-.058-1.125-.117a3.51 3.51 0 0 1-1.125-.355 3.327 3.327 0 0 1-1.008-.532 5.677 5.677 0 0 1-.887-.71c-1.125-1.126-1.777-2.665-1.777-4.204 0-.77.176-1.539.473-2.25.297-.77.71-1.422 1.3-1.953.239-.297.532-.531.887-.71a3.243 3.243 0 0 1 1.008-.532 3.61 3.61 0 0 1 1.125-.356c1.125-.238 2.309-.117 3.434.356.71.297 1.363.71 1.894 1.242.531.531 1.008 1.184 1.3 1.953.298.711.415 1.48.415 2.25a5.92 5.92 0 0 1-1.711 4.203z'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask-size: cover;
}

.symbol1 {
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='641.537' height='641.537' viewBox='0 0 481.153 481.153'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M199 139.21h354v473.58H199Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='translate(-143.39 -130.644)'%3E%3Cpath d='M519.71 384.69v84.348c0 34.074-18.461 65.004-42.812 89.258-33.09 33.09-78.355 54.496-100.84 54.496-22.586 0-67.852-21.406-100.94-54.496-24.254-24.254-42.812-55.184-42.812-89.258V384.69Zm-143.66-26.219H212.66c-7.168 0-13.059-5.793-13.059-13.059 0-95.051 78.355-141.4 165.06-144.54 3.14-12.176 10.605-25.629 22.586-36.922 12.469-11.684 29.852-21.211 52.336-24.547 7.07-1.082 13.746 3.828 14.828 10.898 1.082 7.168-3.828 13.844-10.996 14.926-16.691 2.453-29.359 9.328-38.297 17.676-6.09 5.793-10.508 12.176-13.059 18.164 85.133 4.418 160.35 51.551 160.35 144.34a12.991 12.991 0 0 1-13.059 13.059zm70.602 119.4c0-7.168 5.793-13.059 13.059-13.059 7.168 0 13.059 5.89 13.059 13.059 0 19.934-10.605 37.805-24.547 51.746-18.656 18.656-44.676 30.734-57.934 30.734-7.168 0-13.059-5.89-13.059-13.059 0-7.266 5.89-13.059 13.059-13.059 7.953 0 25.434-9.035 39.473-23.074 9.523-9.621 16.891-21.211 16.891-33.289z' style='fill-rule:evenodd'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
  mask-size: cover;
}

.symbol2 {
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='662.78' height='662.78' viewBox='0 0 497.085 497.085'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M190 139.21h372v473.58H190Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='translate(-111.525 -117.898)'%3E%3Cpath d='M325.55 436.93c3.598 4.574 7.89 8.516 12.652 11.812v32.734l-37.828-28.926c9.293-3.602 17.836-8.879 25.176-15.621m103.11 1.523a79.237 79.237 0 0 0 15.203 10.105l-30.289 31.852-.004-28.07c5.996-3.59 11.168-8.222 15.09-13.887zm-223.15-108.02c-37.055 50.977-3.07 126.03 63.051 127.6l69.645 53.25.004 101.5h75.375v-97.996l55.379-58.25c71.465 10.543 118.79-69.59 77.316-126.72 12.996-37.137-5.852-78.215-42.746-92.594.484-39.402-32.203-70.94-71.738-68.035-26.598-40.312-85.719-39.855-111.94.618-39.098-2.965-72.238 29.07-71.605 68.043-36.832 14.37-55.754 55.469-42.742 92.586z' style='fill-rule:evenodd'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
  mask-size: cover;
}

.symbol3 {
  mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='650.034' height='650.034' viewBox='0 0 487.525 487.525'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M331 139.21h38v94.789h-38z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath d='M139.21 383h94.789v38H139.21Z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath d='M383 518h38v94.793h-38z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath d='M518 331h94.793v38H518Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M362.706 247.482c0 64.676-52.426 117.09-117.1 117.09-64.676 0-117.1-52.418-117.1-117.09s52.426-117.1 117.1-117.1c64.676 0 117.1 52.426 117.1 117.1z' style='fill-rule:evenodd'/%3E%3Cpath d='M355.806 115.182c19.125-5.761 38.012-11.469 35.387-55.672-17.027 6.707-34.66 15.48-47.125 27.23-11.97 11.29-19.164 25.383-16.324 43.09 7.57-8.468 17.852-11.574 28.062-14.648z'/%3E%3Cg clip-path='url(%23a)' transform='translate(-130.644 -127.458)'%3E%3Cpath d='M359.8 203.6c9.445-17.602 18.773-34.984-14.34-64.387-7.3 16.781-13.566 35.457-14.066 52.574-.48 16.445 4.398 31.496 18.922 42.012-.633-11.34 4.441-20.809 9.488-30.203z'/%3E%3C/g%3E%3Cpath d='M111.996 138.092c-5.762-19.125-11.47-38.012-55.672-35.387 6.707 17.027 15.48 34.66 27.23 47.125 11.289 11.97 25.383 19.164 43.09 16.324-8.469-7.57-11.574-17.852-14.648-28.062z'/%3E%3Cg clip-path='url(%23b)' transform='translate(-130.644 -127.458)'%3E%3Cpath d='M203.6 392.2c-17.602-9.445-34.984-18.773-64.387 14.34 16.781 7.3 35.457 13.566 52.574 14.066 16.445.48 31.496-4.398 42.012-18.922-11.34.633-20.809-4.441-30.203-9.488z'/%3E%3C/g%3E%3Cpath d='M134.906 381.902c-19.125 5.762-38.012 11.47-35.387 55.672 17.027-6.707 34.66-15.48 47.125-27.23 11.969-11.289 19.164-25.383 16.324-43.09-7.57 8.47-17.852 11.574-28.062 14.648z'/%3E%3Cg clip-path='url(%23c)' transform='translate(-130.644 -127.458)'%3E%3Cpath d='M392.2 548.41c-9.445 17.602-18.773 34.984 14.34 64.387 7.3-16.781 13.566-35.457 14.066-52.574.48-16.445-4.398-31.496-18.922-42.012.633 11.34-4.441 20.809-9.488 30.203z'/%3E%3C/g%3E%3Cpath d='M378.716 358.992c5.762 19.125 11.469 38.012 55.672 35.387-6.707-17.027-15.48-34.66-27.23-47.125-11.29-11.969-25.383-19.164-43.09-16.324 8.469 7.57 11.574 17.852 14.648 28.062z'/%3E%3Cg clip-path='url(%23d)' transform='translate(-130.644 -127.458)'%3E%3Cpath d='M548.41 359.8c17.602 9.445 34.984 18.773 64.387-14.34-16.781-7.3-35.457-13.566-52.574-14.066-16.445-.48-31.496 4.398-42.012 18.922 11.34-.633 20.809 4.441 30.203 9.488z'/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
  mask-size: cover;
}

.symbol4 {
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='646.521' height='646.521' viewBox='0 0 484.891 484.891'%3E%3Cdefs%3E%3CclipPath id='A'%3E%3Cpath d='M139.21 168h473.58v297H139.21z'/%3E%3C/clipPath%3E%3CclipPath id='B'%3E%3Cpath d='M464 494h90v118.79h-90z'/%3E%3C/clipPath%3E%3CclipPath id='C'%3E%3Cpath d='M331 494h90v118.79h-90z'/%3E%3C/clipPath%3E%3CclipPath id='D'%3E%3Cpath d='M198 494h90v118.79h-90z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(-134.02 -134.95)'%3E%3Cg clip-path='url(%23A)'%3E%3Cpath d='M524 287.2l-2.902.031c-13.793-68.461-73.789-118.43-145.09-118.43-59.227 0-112.39 35.254-135.68 88.828-55.973 1.332-101.11 47.27-101.11 103.57 0 57.125 46.469 103.59 103.6 103.59h281.19c48.957 0 88.797-39.84 88.797-88.797s-39.84-88.797-88.797-88.797z'/%3E%3C/g%3E%3Cg clip-path='url(%23B)'%3E%3Cpath d='M497.03 500.79c-9.68 14-32.234 48.66-32.234 67.605 0 24.477 19.922 44.398 44.398 44.398s44.398-19.922 44.398-44.398c0-18.941-22.555-53.602-32.234-67.605-5.473-7.992-18.852-7.992-24.328 0z'/%3E%3C/g%3E%3Cg clip-path='url(%23C)'%3E%3Cpath d='M363.84 500.79c-9.707 14-32.234 48.66-32.234 67.605 0 24.477 19.922 44.398 44.398 44.398s44.398-19.922 44.398-44.398c0-18.941-22.523-53.602-32.234-67.605-5.504-7.992-18.824-7.992-24.328 0z'/%3E%3C/g%3E%3Cg clip-path='url(%23D)'%3E%3Cpath d='M230.64 500.79c-9.707 14-32.23 48.66-32.23 67.605 0 24.477 19.918 44.398 44.398 44.398s44.395-19.922 44.395-44.398c0-18.941-22.523-53.602-32.234-67.605-5.504-7.992-18.82-7.992-24.328 0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
  /* mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='543.819' height='543.819' viewBox='0 0 407.864 407.864'%3E%3Cpath d='M215.178 404.369c53.438 0 96.848-43.41 96.848-96.848 0-50.91-86.664-178.3-90.297-183.75-3-4.262-10.102-4.262-13.102 0-3.629 5.445-90.297 132.84-90.297 183.75.004 53.438 43.492 96.848 96.848 96.848zm12-48.855c20.285-5.13 35.203-22.496 37.254-43.176.394-4.34 4.34-7.657 8.602-7.106 4.34.395 7.5 4.262 7.105 8.602-2.684 27.39-22.418 50.277-49.094 56.988-.71.156-1.344.238-1.973.238-3.472 0-6.71-2.445-7.656-6-1.027-4.258 1.5-8.52 5.762-9.547zm-64.57-236.715c0-29.281-46.332-97.875-51.621-105.61-2.922-4.34-10.102-4.34-13.023 0-5.29 7.734-51.543 76.324-51.543 105.61 0 32.047 26.047 58.094 58.094 58.094 32.047-.004 58.094-26.051 58.094-58.094zm170.73-26.68c-2.606 0-5.05 1.343-6.55 3.472-4.817 7.024-47.122 69.773-47.122 96.688 0 29.598 24.074 53.594 53.672 53.594 29.598 0 53.594-23.996 53.594-53.594 0-26.914-42.227-89.664-47.12-96.688-1.423-2.129-3.868-3.472-6.474-3.472Z'/%3E%3C/svg%3E") no-repeat 50% 50%; */
  mask-size: cover;
}

.venn2_container > svg {
  max-height: 10rem;
}

.venn3_container > svg {
  max-height: 10rem;
}

/* .venn * {
  stroke: var(--color-text);
  fill: none;
} */

.venn .venn_yay {
  fill: var(--c6);
  /* fill: var(--c5); */
  /* fill: url("#pattern_striped"); */
}

.venn .venn_yay_a {
  fill: var(--clll1);
  /* fill: var(--clll4); */
  /* fill: url("#pattern_striped"); */
}

.venn .venn_yay_b {
  fill: var(--clll3);
  /* fill: var(--clll6); */
  /* fill: url("#pattern_striped"); */
}

.euler_yay {
  /* fill: var(--c5); */
  fill: url("#pattern_euler_yay");
}

.venn text {
  text-anchor: middle;
  dominant-baseline: middle;
  stroke: none;
  fill: var(--color-text);
  font-family: KaTeX_Math;
  font-style: italic;
  font-size: 0.8rem;
}

.three_venns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#container_euler_powerset > svg > path {
  fill: none;
}

#powerset_result {
  text-align: left;
  padding-left: 2rem;
  overflow-x: auto;
}

.vennop {
  border: 0.16rem var(--color-text) solid;
}

.vennop > circle {
  stroke: var(--color-text);
  fill: none;
}
