.induction_tree {
  /* height: 17rem; */
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

.induction_tree_node {
  position: absolute;
  text-align: center;
  background-color: var(--color-bg2);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

.induction_tree_node.true, .induction_tree_node.false {
  border: 1px solid;
}

.induction_tree_node * {
  pointer-events: none;
}

.induction_menu {
  display: inline-block;
  font-size: 1rem;
}

.induction_edge {
  position: absolute;
  background-color: var(--color-bg2);
  height: 0.25em;
  transform-origin: 0 0.125em;
}

.induction_tree_node.true {
  color: var(--cd3);
  background-color: var(--clll3);
}

.induction_edge.true {
  /* background-color: var(--clll3); */
}

.induction_tree_node.false {
  color: var(--cd5);
  background-color: var(--clll5);
}

.induction_edge.false {
  /* background-color: var(--clll5); */
}

.interactive_expression_tex * {
  pointer-events: none;
}

.interactive_expression_tex_node {
  pointer-events: initial;
}