/* typography shamelessly stolen from https://ssbc.github.io/scuttlebutt-protocol-guide/ */

:root {
    --color-bg: #fff;
    --color-bg2: #eee;
    --color-bg3: #ddd;
    --color-text: #1a1a1a;

    --color-fact: rgb(204, 115, 0);
    --color-definition: rgb(124, 0, 132);
    --color-example: rgb(0, 133, 18);
    --color-exercise: rgb(0, 95, 133);
    --color-proof: rgb(0, 173, 126);

    --color-obstruction: rgb(237, 7, 71);

    --c1-half: rgba(0, 40, 255, 0.7);
    --c1-transparent: rgba(0, 40, 255, 0.1);
    --c2-half: rgba(0, 170, 3, 0.7);
    --c2-transparent: rgba(0, 170, 3, 0.1);
}

.c1 {
  color: var(--c1-half);
}

.c2 {
  color: var(--c2-half);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.68;
    color: var(--color-text);
    text-align: justify;
}

body {
    margin:5% auto;
    /* max-width: 41em; */
    padding:0 .6em;
    background: var(--color-bg);
    overflow-x: hidden;
}

body > *, section > * {
  max-width: 41rem;
  margin-left: auto;
  margin-right: auto;
}

body > section, section > section {
  max-width: 86.26rem;
}

body > .wide, section > .wide {
  max-width: 86.26rem;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 110px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 4rem;
}

h2 {
    font-size: 44px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 4rem;
}

h2 div {
  font-size: 34px;
  margin-bottom: 1rem;
}

h3 {
    font-size: 36px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}

h6 {
    font-size: 17px;
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}

p, .cases {
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.assumptions + p {
    margin-top: 0em;
}

ul, ol, dl {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

a {
    color: unset;
    text-decoration: unset;
}

.outlink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.ref {
    border-bottom: dotted 1px #a0a0a0;
}

.citation {
    border-bottom: dotted 1px #a0a0a0;
}

.citation:before {
    content: "[";
}

.citation:after {
    content: "]";
}

em, i {
    font-style: italic;
}

.verbatim:before {
  content: "“";
}

.verbatim:after {
  content: "”";
}

.outlink {
  border-bottom: 1px solid var(--color-text);
}

.label {
  font: normal 1.21em KaTeX_Main,serif;
}

.centered {
    text-align: center;
}

.img_container {
  width: 100%;
}

.img_container img {
  width: 100%;
  height: auto;
}

.video_container {
  border: solid;
  border-radius: 4px;
  margin-top: 1rem;
  position: relative;
  padding-bottom: 56.25%;
  overflow:hidden;
  margin-bottom: 1rem;
}

dfn {
    color: var(--color-definition);
    font-weight: bold;
    font-style: normal;
}

:not(section) > p:last-child {
    margin-bottom: 0em;
}

ul.references {
    list-style-type: none;
}

ul.references li {
    margin-bottom: 1em;
    margin-left: 0em;
}

.sourceMeta {
    margin-left: 1em;
}

article {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
  border-color: var(--color-text);
}

.exercise {
  border-color: var(--color-exercise);
}

.proof {
  border-color: var(--color-proof);
}

.fact {
  border-color: var(--color-fact);
}

.definition {
  border-color: var(--color-definition);
}

.example {
  border-color: var(--color-example);
}

/* .assumptions > *:first-child::before {
  content: "Assumptions: ";
  font-style: italic;
  display: block;
}

.claim > *:first-child::before {
  content: "Claim: ";
  font-style: italic;
  display: block;
} */

.proof_body > *:first-child::before {
  content: "Proof: ";
  font-style: italic;
  display: block;
}

.proof_body > :only-child::before, .claim > *:only-child::before, .assumptions > *:only-child::before {
  display: inline;
}

.preview {
  position: absolute;
  background: rgba(255, 255, 255, 30);
  box-shadow: 0px 0px 3px 4px #DDDDDD;
  padding: 4px;
}

.preview_content {
  max-width: 41em;
}

.preview_content > * {
  margin: 0;
}

.preview_content > p {
  border-color: var(--color-text);
}

.caption {
  border-top: solid 1px;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 16px;
}

.grouping_paren {
  color: #757575;
}

.case_name {
  font-weight: 700;
}

.proof_part_body {
  margin-left: 1rem;
}

/* Hack to prevent katex blocking mouse interaction with invisible rectangles */
.vlist-r > .vlist:only-child {
  display: none;
  /* background: rgba(255, 0, 0, 0.5); */
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid var(--color-text); */
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--color-bg2);
}
