/* typography adapted from https://ssbc.github.io/scuttlebutt-protocol-guide/ */

§css_colors

:root {
    --color-bg: #fffff8;
    --color-bg2: #eeeee8;
    --color-bg3: #ddddd8;
    --color-text: #111;

    --color-fact: var(--cdd2);
    --color-definition: var(--cdd4);
    --color-example: var(--cdd6);
    --color-exercise: var(--cdd1);
    --color-proof: var(--cdd3);

    --color-obstruction: rgb(237, 7, 71);
    --color-success: rgb(180, 0, 237);

    --c1-half: rgba(0, 40, 255, 1);
    --c1-transparent: rgba(177, 189, 255, 1);
    --c2-half: rgba(0, 170, 3, 1);
    --c2-transparent: rgba(135, 238, 137, 1);
    --c3-half: rgba(195, 14, 210, 1);
    --c3-transparent: rgba(241, 145, 249, 1);

    --padding-left: 4rem;
    --padding-right: 4rem;
    --padding-marginalia: 4rem;

    --max-width-main: 41rem;
    --max-width-marginalia: 18rem;
    --max-width-slightlywide: calc(var(--max-width-main) + var(--padding-marginalia) + var(--max-width-marginalia));
    --max-width-wide: 86.26rem;

    --width-default: 41rem;
    --width-wide: 86rem;
    --width-slightlywide: 52rem;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.68;
    color: var(--color-text);
    text-align: justify;
}

body {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-bottom: 4rem;
    margin: 0;
    background: var(--color-bg);
    overflow-x: hidden;
}

.container_main {
  max-width: var(--max-width-slightlywide);
  position: relative;
  margin: auto;
}

.container_main > * {
  max-width: var(--max-width-main);
}

.slightlywide {
  position: relative;
  min-width: calc(100vw - calc(var(--padding-left) + var(--padding-right)));
}

@media screen and (min-width: 87rem) {
  .slightlywide {
    min-width: var(--max-width-slightlywide);
  }
}

.wide {
  position: relative;
  min-width: var(--max-width-wide);
}

@media screen and (max-width: 110rem) {
  .wide {
    min-width: calc(100vw - calc(var(--padding-left) + var(--padding-right)));
  }
}

.aside {
  float: right;
  clear: right;
  position: relative;
  width: var(--max-width-marginalia);
  margin-right: calc(-1 * calc(var(--padding-marginalia) + var(--max-width-marginalia)));
  font-size: 0.9rem;
}

.obstruction {
  color: var(--color-obstruction);
  stroke: var(--color-obstruction);
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 110px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 44px;
    line-height: 1.1;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

h2 div {
  font-size: 34px;
  margin-bottom: 1rem;
}

h3 {
    font-size: 36px;
    padding-bottom: 16px;
}

h4 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h5 {
    font-size: 20px;
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}

h6 {
    font-size: 20px;
    margin-top: 0.1rem;
    margin-bottom: 0rem;
}

p, .cases {
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.assumptions + p {
    margin-top: 0em;
}

ul, ol, dl {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

a {
    color: unset;
    text-decoration: unset;
}

.outlink {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.ref {
    border-bottom: dotted 1px #a0a0a0;
}

.citation {
    border-bottom: dotted 1px #a0a0a0;
}

.citation:before {
    content: "[";
}

.citation:after {
    content: "]";
}

em, i {
    font-style: italic;
}

.verbatim:before {
  content: "“";
}

.verbatim:after {
  content: "”";
}

.outlink {
  border-bottom: 1px solid var(--color-text);
}

.label {
  font: normal 1.21em KaTeX_Main,serif;
}

.centered {
    text-align: center;
}

.img_container {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.img_container > img, .img_container > a > img {
  width: 100%;
  height: auto;
}

.video_container {
  border: solid;
  border-radius: 4px;
  position: relative;
  padding-bottom: 56.25%;
  overflow:hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

dfn {
    color: var(--color-definition);
    font-weight: bold;
    font-style: normal;
}

:not(section) > p:last-child {
    margin-bottom: 0em;
}

ul.references {
    list-style-type: none;
}

ul.references li {
    margin-bottom: 1em;
    margin-left: 0em;
}

.sourceMeta {
    margin-left: 1em;
}

article {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
  border-color: var(--color-definition);
}

.proven_fact {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
  border-color: var(--color-fact);
}

.proven_fact > article {
  margin: 0;
  padding: 0;
  border-style: none;
}

.proven_fact > article:last-child > h6 {
  display: none;
}

.proven_fact > article:last-child:before {
  content: "Proof:";
  font-style: italic;
}

.exercise {
  border-color: var(--color-exercise);
}

.fact {
  border-color: var(--color-fact);
}

.proof {
  border-color: var(--color-proof);
}

.example {
  border-color: var(--color-example);
}

.preview {
  position: absolute;
  background: rgba(255, 255, 255, 30);
  box-shadow: 0px 0px 3px 4px #DDDDDD;
  padding: 4px;
  max-width: calc(var(--width-default) + 8px);
  animation-duration: 0.2s;
  animation-name: preview_fadein;
  animation-timing-function: ease-in-out;
}

@keyframes preview_fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.previewfadeout {
  animation-duration: 0.2s;
  animation-name: preview_fadeout;
  animation-timing-function: ease-in-out;
}

@keyframes preview_fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.preview.previewwide {
  max-width: calc(var(--width-wide) + 8px);
}

.preview.previewslightlywide {
  max-width: calc(var(--width-slightlywide) + 8px);
  min-width: calc(var(--width-slightlywide) + 8px);
}

.preview_content > * {
  margin: 0;
}

.preview_content > p {
  border-color: var(--color-text);
}

.caption {
  border-top: solid 1px;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 18px;
}

/* .grouping_paren {
  color: #757575;
} */

.case_name {
  font-weight: 700;
}

.proof_part_body {
  margin-left: 1rem;
}

/* Hack to prevent katex blocking mouse interaction with invisible rectangles */
.vlist-t.vlist-t2 > .vlist-r > .vlist:only-child {
  pointer-events: none;
  /* display: none; */
  /* background: rgba(255, 0, 0, 0.5); */
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid var(--color-text); */
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

tbody > tr:nth-child(even) {
  background-color: var(--color-bg2);
}

.chapter_navigation {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.previous_chapter, .navigation_to_toc, .next_chapter {
  flex-grow: 1;
}

.previous_chapter {
  text-align: left;
}

.previous_chapter > a:before {
  content: "<< ";
}

.navigation_to_toc {
  text-align: center;
}

.next_chapter {
  text-align: right;
}

.next_chapter > a:after {
  content: " >>";
}

.chapter_navigation a {
  border-bottom: 1px solid var(--color-text);
}

.toc {
  text-align: center;
}

.tocparttitle {
  font-size: 32px;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tocpartchapters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 22px;
}

.tocchapter > a:first-child::after {
  content: ":\a";
  white-space: pre;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--color-text);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
  transition: all 0.2s;
}

button.toggle:hover {
  background-color: var(--color-bg);
}

.preview button {
  cursor: not-allowed;
}

.toggled {
  margin-top: 1rem;
}

.highlight {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 0.4rem;
  position: relative;
  display: inline-block;
}

.highlight.low, .highlight.top {
  background-color: inherit;
  isolation: isolate;
}

.highlight.low:before, .highlight.top:before {
  position: absolute;
  display: inline-block;
  z-index: -1;
  bottom: 0.25em;
  left: 0;
  width: 100%;
  height: 0.3em;
  content: "";
  background-color: var(--color-highlight);
  border-radius: 0.4em;
}

.highlight.top:before {
  top: 0.25em;
  bottom: unset;
}

.highlightmath .mbin, .highlightmath .minner, .highlightmathdirect {
  padding: 0.1em;
  border-radius: 0.4em;
}

.highlightc1 .mbin, .highlightc1 .minner, .highlightmathdirect.highlightc1 {
  background-color: var(--c1-transparent)
}

.highlightc2 .mbin, .highlightc2 .minner, .highlightmathdirect.highlightc2 {
  background-color: var(--c2-transparent)
}

.highlightc3 .mbin, .highlightc3 .minner, .highlightmathdirect.highlightc3 {
  background-color: var(--c3-transparent)
}

.cancel_symbol {
  position: relative;
}

.cancel_symbol:before {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  right: 0;
  border-top: 0.15rem solid;
  border-color: var(--color-obstruction);
  transform: rotate(-60deg);
  z-index: 1;
}

.nowrap {
  white-space: nowrap;
}

.aside_counter {
  vertical-align: super;
  font-size: 0.7rem;
}

.aside > .aside_counter {
  margin-right: 0.2rem;
}

.both_c1 {
  color: var(--c1-half);
  background-color: var(--c1-transparent);
  stroke: var(--c1-half);
  fill: var(--c1-transparent);
}

.both_c2 {
  color: var(--c2-half);
  background-color: var(--c2-transparent);
  stroke: var(--c2-half);
  fill: var(--c2-transparent);
}

.both_c3 {
  color: var(--c3-half);
  background-color: var(--c3-transparent);
  stroke: var(--c3-half);
  fill: var(--c3-transparent);
}

.define_notation {
  color: var(--color-definition);
  stroke: var(--color-definition);
}

.text_color {
  color: var(--color-text);
  stroke: var(--color-text);
}
