/* typography adapted from https://ssbc.github.io/scuttlebutt-protocol-guide/ */

.yes {
  background-color: var(--color-bg0)
}

§css_colors

:root {
    --color-bg0: #fff;
    --color-bg: #fffff8;
    --color-bg2: #ccccc8;
    --color-text: #111;
    --color-text2: #555;

    --color-fact: var(--cd4);
    --color-definition: var(--cd2);
    --color-example: var(--cd3);
    --color-exercise: var(--cd5);
    --color-proof: var(--cd6);

    --color-obstruction: rgb(237, 7, 71);

    --padding-left: 2rem;
    --padding-right: 2rem;
    --padding-marginalia: 4rem;

    --max-width-main: 41rem;
    --max-width-marginalia: 18rem;
    --max-width-slightlywide: calc(var(--max-width-main) + var(--padding-marginalia) + var(--max-width-marginalia));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg0: #171b1d;
    --color-bg: #293035;
    --color-bg2: #516066;
    --color-text: #eee;
    --color-text2: #aaa;

    --color-obstruction: rgb(251, 69, 69);
  }
}

* {
    box-sizing: border-box;
}

html, .normal_text {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 1.68;
    color: var(--color-text);
    text-align: justify;
}

body {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-bottom: 4rem;
    margin: 0;
    background: var(--color-bg);
    overflow-x: hidden;
}

.container_main {
  max-width: var(--max-width-slightlywide);
  position: relative;
  margin: auto;
}

.container_main > * {
  max-width: var(--max-width-main);
}

.slightlywide {
  position: relative;
  width: var(--max-width-slightlywide);
}

.wide {
  position: relative;
  min-width: calc(100vw - calc(var(--padding-left) + var(--padding-right) + 0.5 * calc(100vw - var(--max-width-slightlywide))));
}

.aside {
  float: right;
  clear: right;
  position: relative;
  width: var(--max-width-marginalia);
  margin-right: calc(-1 * calc(var(--padding-marginalia) + var(--max-width-marginalia)));
  font-size: 0.9rem;
  margin-bottom: 1em;
}

.obstruction {
  color: var(--color-obstruction);
  stroke: var(--color-obstruction);
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h1 {
    font-size: 5.5rem;
    line-height: 1.2;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

h2 {
    font-size: 2.2rem;
    line-height: 1.1;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

h2 div {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h3 {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
}

h4 {
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h5, h6 {
    font-size: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0;
}

p, .cases {
  margin-bottom: 1em;
  margin-top: 0;
}

.assumptions + p {
    margin-top: 0;
}

ul, ol, dl {
    margin-bottom: 1em;
    padding-left: 1em;
}

ul {
    list-style-type: disc;
}

li {
    margin-left: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

a {
    color: unset;
    text-decoration: unset;
}

.ref {
    border-bottom: dotted 1px #a0a0a0;
}

.citation {
    border-bottom: dotted 1px #a0a0a0;
}

.citation:before {
    content: "[";
}

.citation:after {
    content: "]";
}

em, i {
    font-style: italic;
}

.outlink {
  border-bottom: 1px solid var(--color-text);
}

.label, svg text {
  text-anchor: middle;
  dominant-baseline: middle;
  stroke: none;
  fill: var(--color-text);
  font-family: KaTeX_Math;
  font-style: italic;
  font-size: 0.8rem;
}

.centered {
    text-align: center;
}

.img_container {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.img_container > img, .img_container > a > img {
  width: 100%;
  height: auto;
}

.video_container {
  border: solid;
  border-radius: 4px;
  position: relative;
  padding-bottom: 56.25%;
  overflow:hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

dfn {
    color: var(--color-definition);
    font-weight: 700;
    font-style: normal;
}

:not(section) > p:last-child {
    margin-bottom: 0em;
}

ul.references {
    list-style-type: none;
}

ul.references li {
    margin-bottom: 1em;
    margin-left: 0em;
}

.sourceMeta {
    margin-left: 1em;
}

article {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
  border-color: var(--color-definition);
}

.clear {
  clear: both;
}

.clfx::after {
  content: "";
  display: table;
  clear: both;
}

.proven_fact {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
  border-color: var(--color-fact);
}

.proven_fact > article {
  margin: 0;
  padding: 0;
  border-style: none;
}

.proven_fact > article:last-child > h6 {
  display: none;
}

.proven_fact > article:last-child:before {
  content: "Proof:";
  font-style: italic;
}

.box_marginalia {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1em;

  border-width: 4px;
  border-style: solid;
}

.box_marginalia > .proven_fact, .box_marginalia > article {
  max-width: var(--max-width-main);
}

.box_marginalia > .aside {
  transform: translate(calc(calc(var(--max-width-main)) - calc(var(--max-width-slightlywide))));
}

.box_marginalia > article .aside {
  transform: translate(calc(-1 * calc(2em + 8px)));
}

.box_marginalia .aside {
  max-width: calc(var(--max-width-slightlywide) - calc(1em + 4px + var(--max-width-main) + var(--padding-marginalia)));
}

.box_marginalia article, .box_marginalia .proven_fact {
  margin: 0;
  padding: 0;
  border: none;
}

.exercise {
  border-color: var(--color-exercise);
}

.fact {
  border-color: var(--color-fact);
}

.proof {
  border-color: var(--color-proof);
}

.example {
  border-color: var(--color-example);
}

.definition {
  border-color: var(--color-definition);
}

.preview {
  position: absolute;
  background: var(--color-bg);
  box-shadow: 0px 0px 3px 4px #DDDDDD;
  padding: 4px;
  max-width: calc(var(--max-width-main) + 8px);
  animation-duration: 0.2s;
  animation-name: preview_fadein;
  animation-timing-function: ease-in-out;
}

.preview .aside {
  display: none;
}

@keyframes preview_fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.previewfadeout {
  animation-duration: 0.2s;
  animation-name: preview_fadeout;
  animation-timing-function: ease-in-out;
}

@keyframes preview_fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.preview.previewwide {
  max-width: calc(8px + 100vw - calc(var(--padding-left) + var(--padding-right) + 0.5 * calc(100vw - var(--max-width-slightlywide))));
}

.preview.previewslightlywide {
  max-width: calc(var(--max-width-slightlywide) + 8px);
}

.preview_content > * {
  margin: 0;
}

.caption {
  border-top: solid 1px;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.case_name {
  font-weight: 700;
}

.proof_part_body {
  margin-left: 1rem;
}

/* Hack to prevent katex blocking mouse interaction with invisible rectangles */
.vlist-t.vlist-t2 > .vlist-r > .vlist:only-child {
  pointer-events: none;
  /* background: rgba(255, 0, 0, 0.5); */
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

tbody > tr:nth-child(odd) {
  background-color: var(--color-bg2);
}

.chapter_navigation {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.previous_chapter {
  text-align: left;
}

.previous_chapter > a:before {
  content: "<< ";
}

.navigation_to_toc {
  text-align: center;
}

.next_chapter {
  text-align: right;
}

.next_chapter > a:after {
  content: " >>";
}

.chapter_navigation a {
  border-bottom: 1px solid var(--color-text);
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--color-text);
  border-radius: 0.4em;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
  transition: all 0.2s;
  background-color: var(--color-bg2);
  font-size: 0.95rem;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.no {
  background-color: var(--color-bg2)
}

button:hover {
  background-color: var(--color-bg);
}

.preview button {
  cursor: not-allowed;
}

.toggled {
  margin-top: 1rem;
}

.highlight {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  border-radius: 0.4rem;
  position: relative;
  display: inline-block;
}

span.enclosing.highlight {
  padding-left: 0;
  padding-right: 0;
}

.highlight.low, .highlight.top {
  background-color: inherit;
  isolation: isolate;
}

.highlight.low:not(.rightspace):before, .highlight.top:not(.rightspace):before {
  position: absolute;
  display: inline-block;
  z-index: -1;
  bottom: 0.25em;
  left: 0;
  width: 100%;
  height: 0.3em;
  content: "";
  background-color: var(--color-highlight);
  border-radius: 0.4em;
}

.highlight.rightspace.low:before, .highlight.rightspace.top:before {
  position: absolute;
  display: inline-block;
  z-index: -1;
  bottom: 0.25em;
  left: 0;
  height: 0.3em;
  content: "";
  background-color: var(--color-highlight);
  border-radius: 0.4em;
  width: calc(100% - 0.2222em);
}

span.enclosing.highlight.low:not(.rightspace):before {
  bottom: 0;
}

.highlight.top:not(.rightspace):before {
  top: 0.25em;
  bottom: unset;
}

span.enclosing.highlight.top:not(.rightspace):before {
  top: 0;
}

span.enclosing.rightspace.highlight.low:before {
  bottom: 0;
}

.highligh.rightspacet.top:before {
  top: 0.25em;
  bottom: unset;
}

span.enclosing.highlight.rightspace.top:before {
  top: 0;
}

.cancel_symbol {
  position: relative;
  isolation: isolate;
}

.cancel_symbol:before {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  right: 0;
  border-top: 0.25em solid;
  border-color: var(--color-obstruction);
  border-radius: 1em;
  transform: rotate(-60deg);
  z-index: 1;
}

.nowrap {
  white-space: nowrap;
}

.aside_counter {
  vertical-align: super;
  font-size: 0.7em;
}

.aside > .aside_counter {
  margin-right: 0.2rem;
}

.define_notation {
  color: var(--color-definition);
  stroke: var(--color-definition);
}

.text_color {
  color: var(--color-text);
  stroke: var(--color-text);
}

.venn2_container > svg, .venn3_container > svg {
  max-height: 10rem;
  border: 0.16rem var(--color-text) solid;
}

.venn .venn_yay {
  fill: var(--c6);
}

.venn .venn_yay_a {
  fill: var(--clll1);
}

.venn .venn_yay_b {
  fill: var(--clll3);
}

.vennop > circle {
  stroke: var(--color-text);
  fill: none;
}

.three_venns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
